<div class="dialog">
  <header>
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account!</p>
  </header>

  <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
      <InputText
        type="text"
        placeholder="Name"
        @bind-Value="@_model.Name"
      />
    </label>

    <label>
      <InputText
        type="email"
        placeholder="Email"
        @bind-Value="@_model.Email"
      />
    </label>

    <label>
      <InputText
        type="password"
        placeholder="Password"
        @bind-Value="@_model.Password"
      />
    </label>

    <label>
      <InputCheckbox
        @bind-Value="@_model.Accept"
      />
      I accept the Terms of Use and Privacy Policy.
    </label>

    <button type="submit">Sign Up</button>
  </EditForm>

  <footer>
    <p>
      Already have an account?
      Sign in <a href="javascript:void(0);" @onclick="ClickSignIn">here.</a>
    </p>
  </footer>
</div>

@code {
    private readonly SignUpModel _model = new SignUpModel();

    [Parameter]
    public EventCallback ClickSignIn { get; set; }

    [Parameter]
    public EventCallback<SignUpModel> HandleSignUp { get; set; }

    private async Task OnValidSubmit()
    {
        if (HandleSignUp.HasDelegate)
        {
            await HandleSignUp.InvokeAsync(_model);
        }
    }
}